.dashboard-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: ghostwhite;
  height: 100vh;
  padding-left: 60px;
}

.cardless img {
  width: 100%;
  height: auto;
}

.cardless b {
  color: #c87aff;
}

.cardless b:first-child {
  color: orange;
}

@media only screen and (max-width: 600px) {
  .dashboard-page {
    padding: 10px;
  }
}