.decklist {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.decklist input {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  height: 40px;
  border-radius: 10px;
  border: none;
  background: white;
  box-sizing: border-box;
  padding-left: 20px;
}

.decklist__list-container {
  display: flex;
  gap: 10px;
  overflow-y: scroll;
  height: 100px;
  padding-bottom: 10px;
}

.decklist__list-container div {
  height: 100%;
  min-width: 150px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
}

.decklist__list-container div:not(:first-child):hover {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  border: 2px solid skyblue;
}

.decklist__list-container div:first-of-type {
  border: 2px dashed black;
}