.card-table {
  display: block;
  overflow: auto;
  height: 600px;
  background: white;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  border-radius: 10px;
  border-collapse: collapse;
  text-align: center;
  font-size: 12px;
}

.card-table th {
  background: white;
  padding: 0px 85px 0px 85px;
  width: 100%;
  color: #c87aff;
  font-size: 16px;
  position: sticky; 
  top: 0;
}

.card-table td {
  padding: 10px;
}

.card-table__front {
  color: orange;
  background: #303030;
}
