.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: ghostwhite;
  height: 100%;
  padding-left: 100px;
  padding-right: 40px;
}

.profile-page__header {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
  padding: 5%;
}

.profile-page__name form {
  display: none;
}

.profile-page__main {
  width: 100%;
  height: 100%;
}

.profile-page__main div {
  display: flex;
  justify-content: center;
  height: 100%;
  border-bottom: 1px solid grey;
  padding-bottom: 5%;
  padding-top: 5%;
  font-size: 14px;
}

.profile-page__main div:last-of-type {
  border-bottom: none;
}

.profile-page__main div div {
  color: rgba(8,115,184,1);;
  width: 30%;
  display: flex;
  padding: 0;
  flex-flow: column;
}

.profile-page__main form label {
  font-size: 12px;
  padding-left: 20px;
  width: 70%;
}

.profile-page__main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.profile-page__main form input {
  height: 40px;
  width: 70%;
  border: 1px solid grey;
  border-radius: 10px;
  box-sizing: border-box;
  padding-left: 20px;
}

/* .profile-page__main div:first-of-type form input {
  display: hidden;
} */

.profile-page__main div:last-of-type form input {
  height: 20px;
  width: 40px;
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  .profile-page {
    margin-top: 50px;
    padding: 10px;
  }

  .profile-page__main div {
    flex-direction: column;
    align-items: center;
  }

  .profile-page__main div div {
    width: 80%;
  }
}
