.deck-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: ghostwhite;
  height: 100vh;
  padding-left: 100px;
  padding-right: 40px;
}

@media only screen and (max-width: 600px) {
  .deck-page {
    margin-top: 50px;
    padding: 10px;
  }
}