#navBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  height: 100%;
  background: white;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
}

#navMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

#navMain div {
  padding: 16px 16px 16px 16px;
}

#logout {
  padding: 16px 16px 16px 16px;
}

#toast {
  visibility: hidden;
  position: fixed;
  background-color: #403f3f;
  color: white;
  max-width: 50px;
  font-size: 12px;
  padding: 8px;
  border-radius: 40px;
  text-align: center;
}

.active-nav {
  color: #c87aff;
  border-right: solid 3px #c87aff;
  background: ghostwhite;
}