.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background: white;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
}

.side-bar__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-bar__nav div {
  padding: 16px 16px 16px 16px;
  color: black;
}

#logout {
  padding: 16px 16px 16px 16px;
}

#toast {
  visibility: hidden;
  position: fixed;
  background-color: #403f3f;
  color: white;
  max-width: 50px;
  font-size: 12px;
  padding: 8px;
  border-radius: 20px;
  text-align: center;
}

.active {
  color: #c87aff;
  border-right: solid 3px #c87aff;
  background: ghostwhite;
}

.cards-due {
  font-size: 24px;
  color: orange;
}

.total-cards {
  font-size: 24px;
  color: #c87aff;
}

@media only screen and (max-width: 600px) {
  .side-bar {
    height: 60px;
    width: 100%;
    flex-direction: row;
  }

  .side-bar__nav {
    flex-direction: row;
  }

  .side-bar__card {
    display: flex;
    flex-direction: row;
    padding-top: 12px;
    gap: 12px;
  }
}
