.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.footer h4 {
  width: 500px;
}

.footer ul {
  display: inline;
}

.footer  li {
  padding: 10px;
  display: inline;
}