.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 450px;
  padding: 20px 50px 20px 50px;
  border-radius: 30px;
  background: white;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.signup-container__header {
  height: 20%;
  text-align: center;
}

.signup-container__header p {
  font-size: 12px;
  line-height: 8px;
}

.signup-container form {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.signup-container form p {
  display: inline;
}

.signup-container input {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background: WhiteSmoke;
  box-sizing: border-box;
  padding-left: 20px;
}

.signup-container input::placeholder {
  font-style: italic;
  font-size: 12px;
}

.signup-container label {
  font-size: 12px;
  padding-left: 20px;
  width: 100%;
  text-align: left;
}

.name-input {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#name {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#surname {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* input:invalid {
  border: 1px solid red;
} */

/* input:valid {
  border: 1px solid green;
} */