.home-page nav img {
  width: 40px;
  margin-right: 50px;
}

.home-page nav {
  background: white;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.home-page__section-one {
  height: 100vh;
  display: flex;
}

.home-page__section-one h2 span:nth-child(1) {
  display: inline;
  animation: slidein 5s;
  color: rgba(8,115,184,1);
}

.home-page__section-one h2 span:nth-child(2){
  display: inline;
  animation: slidein 7s;
  color: orange;
}

.home-page__section-one h2 span:nth-child(3) {
  display: inline;
  animation: slidein 9s;
  color: rgba(8,115,184,1);
}

.home-page__section-one__title {
  height: 100%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-page__section-one__title h1 {
  font-size: 32px;
}

.home-page__section-one__title h2 {
  padding-top: 5%;
  font-size: 16px;
}

.home-page__section-one img {
  max-width: 60%;
  height: auto;
}

.home-page__section-two {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page__section-three {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10% 20% 0 20%;
  gap: 10%;
}

.home-page__section-three__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
}

.home-page__section-three__features img {
  margin-bottom: 50px;
  height: 50px;
}

@media only screen and (max-width: 600px) {
  .home-page__section-one {
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .home-page__section-one img {
    max-width: 100%;
  }
}

@keyframes slidein {
  0% { margin-left:-800px; }
  20% { margin-left:-800px; }
  35% { margin-left:0px; }
  100% { margin-left:0px; }
}